@media (prefers-color-scheme: dark) {
  :root {
    --bg-sec: #00090f;
    --bg: #042136;
    --color-sec: #a9bac6;
    --color: #4e7088;
    --trim: #214661;
  }

  body {
    background: #333;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-sec: #a9bac6;
    --bg: #4e7088;
    --color-sec: #042136;
    --color: #00090f;
    --trim: #214661;
  }

  body {
    background: #ddd;
    color: black;
  }
}

:root {
  --font-size: 16px;
  --font-size-half: 8px;
}

body {
  font-size: var(--font-size);
}

.facet,
button {
  background: var(--bg-sec);
  color: var(--color-sec);
  border: 1px solid var(--trim);
  border-radius: var(--font-size-half);
  padding: 4px;
}

.facet:active,
button:active {
  background: var(--bg);
  color: var(--color);
}

.facet {
  display: inline-block;
}

.section {
  border: 1px solid var(--trim);
  padding: 4px;
  margin: 4px;
}

.section-content {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 4px;
  overflow: auto;
}

.instance-list {
  flex-direction: column;
}

.tb-tabs {
  display: flex;
}

.tb-tab {
  border-radius: var(--font-size-half) var(--font-size-half) 0 0;
  background: var(--bg);
  color: var(--color);
  border: 1px solid var(--trim);
  padding: 4px;
}

.tb-tab.active {
  background: var(--bg-sec);
  color: var(--color-sec);
}

.tb-panel {
  background: var(--bg-sec);
  padding: 4px;
}