:root {
  --bg-1: #00090f;
  --bg-2: #042136;
  --bg-3: #214661;
  --bg-4: #4e7088;
  --bg-5: #a9bac6;
  --color-1: #e4e4e4;
  --color-2: #c8c8c8;
  --color-3: #acacac;
  --color-4: #919191;
  --color-5: #757575;
  --trim: #ffd700;
  --font-size: 16px;
  --font-size-half: 8px;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: #ddd;
    color: white;
  }
}

body {
  font-size: var(--font-size);
}

.filter,
button {
  background: var(--bg-3);
  color: var(--color-3);
  border: 1px solid var(--trim);
  border-radius: var(--font-size-half);
  padding: 4px;
}

.filter:active,
button:active {
  background: var(--bg-4);
  color: var(--color-4);
}

.filter {
  height: 20px;
}

.filter.filter-open {
  height: auto;
}

.filter-active {
  background: green;
}

.facets {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  margin: 4px 0;
}

.facet-active {
  background: green;
}

.section {
  border: 1px solid var(--trim);
  padding: 4px;
  margin: 4px;
}

.section-content {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 4px;
  overflow: auto;
}

.instance-list {
  flex-direction: column;
}

.tb-tabs {
  display: flex;
}

.tb-tab {
  border-radius: var(--font-size-half) var(--font-size-half) 0 0;
  background: var(--bg-2);
  color: var(--color-2);
  border: 1px solid var(--trim);
  padding: 4px;
}

.tb-tab.active {
  background: var(--bg-1);
  color: var(--color-1);
}

.tb-panel {
  background: var(--bg-1);
  padding: 4px;
}
